/* Estilos específicos para a página de Produtos */

#produtos {
    text-align: center;
    padding: 50px 20px;
}

#produtos h2 {
    color: var(--cor-primaria);
    font-size: 32px;
    margin-bottom: 20px;
}

#produtos p {
    font-size: 18px;
    color: var(--cor-texto);
    margin-bottom: 30px;
}

.categoria {
    margin-bottom: 40px;
    padding: 20px;
    background-color: var(--cor-fundo);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.categoria h3 {
    color: var(--cor-secundaria);
    font-size: 24px;
    margin-bottom: 15px;
}

.produto {
    display: inline-block;
    width: 250px;
    margin: 15px;
    padding: 15px;
    border: 1px solid var(--cor-primaria);
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.produto img {
    width: 100%;
    height: auto;
    max-height: 180px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.produto p {
    font-size: 16px;
    color: var(--cor-texto);
}

@media (max-width: 768px) {
    .produto {
        width: 100%;
        max-width: 300px;
    }
}
